/*#ap_trail_navigation, .top-bar, .top-bar ul, .top-bar-left, .top-bar-right, .menu {
  background-color: rgba(64,79,60,.5);
}*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Old+Standard+TT');
.dark-blue {color: #213159}
.sky-blue {color: #3d6098}
.sexy-red {color: #f04b4c}
.fresh-grey {color: #e7e7e7}
#home, body {
  background-image: url(../images/brickwall_@2X.png);
}

#main-body {


}
#footer {
  /*background: #fbfcf9;*/
  margin-top: 25px;
  padding: 0px 50px 15px 50px;
}
#primary {
  background-color: rgba(242,242,242, .60);
  padding: 35px 50px 35px 50px;
}
#homepage-image {
  width: auto;
  height: auto;

}


#menu-text a{

  text-transform: lowercase;
  color: #213159 !important;
  letter-spacing: 1px;
  font-size: 1.9rem;
  font-weight: 900;
  font-family: "Lato" !important;
}

p {
  color: #262626;
  line-height: 1.7;
  margin-bottom: 1.07rem;
}
a {
  color: #262626;
}
a:hover {
  color: #464b41;
}

h1,h2,h3,h4,h5,h6 {
  color: #3d6098;
}
h1, h2, h3 {
  font-weight: 500;
}

.menu li a {
  text-transform: lowercase;
}
.menu .active > a {
  background: #213159;
  border-radus: 2px;
  color: #fefefe;
}
.top-bar-right{
  margin-top: 12px;
}
/*.top-bar, .top-bar ul {
  background: transparent;
}
.menu .active > a {
  background: #0e514f;
  color: #fefefe;
}
.title-bar {
  background: #114511;
}
.top-bar, .top-bar li a {
  text-transform: uppercase;
  font-family: "Fira Sans Extra Condensed";
  color: #fefefe;
  font-weight: 400;
  font-size: 1.3rem;
}
.top-bar li a:hover {
  border-bottom: 3px solid #145314;
  color: #145314;
}
.top-bar {
  padding-left: 0;
  background: #262626
}
#bbpt_navigation{
  padding-left: 0;
  background: #262626;
}*/
.top-bar, .top-bar ul {
  background: transparent;
}

h2{
  letter-spacing: 1px;
}
h3, h4, h5, h6 {
  font-weight: 300;
}
.pagination a, .pagination button {
  color: #114511 !important;
  font-weight: 400;
}
.pagination, a:hover{
  color: #145314;
}
#pagination-next:hover {
  background: transparent !important;
}
.paginationrow-bottom {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
}
.paginationrow {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;

}
/*Exhibits*/
.layout-file-text .exhibit-items.left {
  margin-right: 5% !important;
}
.exhibit-page-nav > li:first-child {
  padding-left: 5px;
}
.exhibit-page-nav > li {
  list-style-type: none;
}
.exhibit-page-nav > li > {
  margin: 5px 0 5px 0;
}
.exhibit-nav-level-1 > li{
  margin: 5px 0 5px 0;
}
.exhibit-nav-level-1 {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0 !important;
}
.exhibit-nav-level-1 > li {
    padding: 5px 5px 5px 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px ;
}
.exhibit-nav-level-1 > li.current {
  font-weight: 700;
}

.exhibit-title {
  font-family: Oswald;
  border-bottom: solid 2px #114511;
  text-transform: uppercase;
}
.exhibit-nav-level-2 > li:hover {
  background-color: #eee;

}
.exhibit-nav-level-1 > .current.active {
  font-weight: 500;

}
h1 > .exhibit-page {
  padding-left: 15px;
}
#exhibit-pages ul {
  padding-left: 0px;
  list-style-type: none;
  margin-left: 0 !important;
}
#exhibit-pages ul > li {
  padding: 5px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 5px 0 5px 0;
}

.exhibit-nav-level-1 > li:hover {
  background-color: #E0E1CC;
}
#exhibit-pages {
  border-left: solid 1px #eee;
}
#exhibit-pages > h4 {
  padding-left: 10px;
}
.exhibit.record > a > img {
  float: left;
  margin-right: 20px;
}
#secondary-nav {
  margin: 25px 0 25px 0;
}

footer {
  padding-left: 0;
}
figcaption > small > hr {
  margin-bottom: 5px;
  margin-top: 10px;
}
h4 > i{
color: #213159;
}
h4,h5 {
  color: #3d6098;
}
.pagination .current {
  background: #114511 !important;
  color: #fefefe;
}
h1 small {
  color: #3d6098;
}

#geolocation {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
#geolocation > h2 {
  font-size: 1.5625rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
